@font-face{ 
    font-family: SegoeUI; 
    src: url(fonts/9404.ttf);
}
body,html {
    padding:0;
    margin:0; 
    background:#71bfff;
    height:100%;
    font-family: SegoeUI;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}
.wrapper {
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    justify-content:center;
}
/* -------------------------------------block_left------------------------------------------- */
.block1 {
    width:580px;
    height:718px;
    background: #e1f4ff;
}
h1 {
    font-size:25px;
    margin:90px 0 30px 40px;
    font-weight: bold;
}
.cont1 {
    width:500px;
    height:271px;
    background: #ffffff;
    margin-left:40px;
    position: relative;
}
/* ------------------------------------------slider-------------------------------------------- */
.range {
    width:420px;
    height:4px;
    margin:51px 40px 0 40px;
    -webkit-appearance: none;
    border-radius:2px;
    background: #d1e3f2;
    outline:none;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:#006bcc;
    width:14px;
    height:27.7px;
    border-radius:5.3px;
    cursor: pointer;
}
.range::-moz-range-thumb {
    height: 27.7px;
    width: 14px;
    border-radius: 5.3px;
    background: #006bcc;
    cursor: pointer;
  }
.range::-moz-range-track {
    width: 420px;
    height: 4px;
    cursor: pointer;
    background: #d1e3f2; 
}
.lev {
    display:flex;
    justify-content: flex-start;
    margin-top:33px; 
}
.level {
    margin-right:143px;
    font-size:16px;
}
.lev .level:first-child {
    margin-left:40px;
}
.lev .level:last-child {
    margin-right:40px;
}
/* ---------------------------------------------end_slider------------------------------------ */
hr {
    width:420px;
    margin-top:40.5px;
    background-color: #f7f7f7;
    height:1px;
    border:none;
}
p {
    margin-top:40.5px;
    margin-left:74px;
    margin-right:89px;
    font-size: 16px;
    color: #000000;
}
.quot{
    width: 7.9px;
    height: 11.7px;
    background: #006bcc;
    -webkit-clip-path: polygon(13% 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(13% 0, 100% 0%, 80% 100%, 0% 100%);
    position: absolute;
}
.l {
    left:53px;
    top:200px;  
}
.r {
    left:41px;
    top:200px;  
}

/* --------------------------------------block_left_bottom----------------------------------- */
.cont2 {
    display:flex;
    margin-top:50px;
}
.left h2 {
    margin-left:40px;
    font-weight: bold;
    font-size:25px;
}
.right h2 {
    margin-left:10px;
    font-weight: bold;
    font-size:25px;
}
.bodies {
    width:240px;
    height:90px;
    background:#ffffff;
    margin-left:40px;
    margin-right:10px;
    display:flex;   
}
.faces {
    width:240px;
    height:90px;
    background:#ffffff;
    margin-left:10px;
    display:none;
}
#blue_face {
    display:flex;
}
.person_item {
    width:60px;
    height:60px;
    border-radius: 8px;
    border:1px solid #d6d6d6;
    margin-top:15px;
    margin-bottom:15px;
    margin-right: 15px;
    display:flex;
    justify-content: center;
    position:relative;
}
.body img {
    width:42.6px; 
    height:46.7px;
    align-self:flex-end;
}
.person_item span {
    display:none;
    width:5px;
    height:5px;
    border-radius:50%;
    background: #006bcc;
    position: absolute;
    top:5px;
    left:5px;
}
.person_item:first-child span {
    display: block;
}
.person_item:first-child {
    margin-left:15px;
}
.person_item:hover {
    border:3px solid #006bcc;
}
/* -----------------------------------------image_sizes--------------------------------------- */
.one img {
    width:33.1px;
    height:19.5px;
    align-self:center;
}
.two img {
    width:46.1px;
    height:10.7px;
    align-self:center;
}
.three img {
    width:35px;
    height:21.4px;
    align-self:center;
}
.four img {
    width:36.2px;
    height:14.2px;
    align-self:center;
}
.five img {
    width:41.4px;
    height:20px;
    align-self:center;
}
.six img {
    width:38.5px;
    height:16px;
    align-self:center;
}
.seven img {
    width:40.5px;
    height:17.4px;
    align-self:center;
}
.eight img {
    width:48.2px;
    height:18px;
    align-self:center;
}
.nine img {
    width:23.1px;
    height:21.7px;
    align-self:center;
}
/* ------------------------------------------------block2------------------------------------- */
.block2 {
    display:flex;
    position: relative;
    width:580px;
    height:718px;
    background: white;
    justify-content: center;
    align-items: flex-start;
}
.mac {
    width:356px;
    height:130px;
    position: absolute;
    bottom:93.6px;
    right:106px; 
    z-index:1;
}
.person_body {
    width:201.9px;
    height:276.6px;
    position: absolute;
    right:178.3px;
    bottom:124.3px;
    display:none;
}
#pbody_blue {
    display:block;
}
.person_face {
    width:90.7px;
    height:53.5px;
    position: absolute;
    right:234.4px;
    bottom:262.1px;
    z-index:2;
    display:none;
}
#pface_blue_one {
    display:block;
}
.tags {
    width:350px;
    height:200px;
    margin-top:76.9px; 
    margin-left:30px;
    position: relative;  
}
.tag {
    text-align:center;
    display:table;
}
.a {
    display:table-cell;
    vertical-align: middle;
    color: #ffffff;
}
.html {
    width:88.8px;
    height: 45.1px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    left:59.2px;
}
.css {
    width:50.7px;
    height: 33.8px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:6px;
    left:162.8px; 
}
.sql {
    width:40.7px;
    height: 26px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:3.2px;
    left:228.3px; 
}
.adaptive {
    width:88.8px;
    height: 33.8px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:70.5px;
    left:0px; 
}
.basejs {
    width:105.1px;
    height: 46.1px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:61.2px;
    left:111.8px; 
}
.webpack {
    width:107.9px;
    height: 40.2px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:39.8px;
    left:228.1px; 
}
.eslint {
    width:66.6px;
    height: 33.8px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:124.4px;
    left:47.5px; 
}
.gulp {
    width:73.1px;
    height: 43.3px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:123.4px;
    left:131px; 
}
.sass {
    width:47.1px;
    height: 26.4px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:131.7px;
    left:215.5px; 
}
.git {
    width:33.3px;
    height: 25.4px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:94.8px;
    left:235.7px; 
}
.pug {
    width: 50.7px;
    height: 33.8px;
    background:#006bcc;
    position: absolute;
    border-radius: 5px;
    top:93.7px;
    left:285.4px; 
}